In [160]:
import pandas as pd
import requests
from io import StringIO

In [161]:
url = "https://apisidra.ibge.gov.br/values//t/9542/p/2022/v/950/c59/allxt/c2/allxt/c86/allxt/c287/93086,93087,2999,9482,9483,9484/n3/all/h/y/f/n"
r = requests.get(url)
if r.ok:
    df = pd.read_json(StringIO(r.text))
else:
    print('Tente novamente. Status code:', r.status_code)

In [162]:
data = df.rename(columns=df.iloc[0]).drop(df.index[0])
data = data.reset_index(drop=True)
data = data.drop(columns=['Nível Territorial','Unidade de Medida','Variável'])
data

,Valor,Ano,Alfabetização,Sexo,Cor ou raça,Idade,Unidade da Federação
0,16855,2022,Alfabetizadas,Homens,Branca,15 a 19 anos,Rondônia
1,8208,2022,Alfabetizadas,Homens,Branca,15 a 19 anos,Acre
2,30666,2022,Alfabetizadas,Homens,Branca,15 a 19 anos,Amazonas
3,5093,2022,Alfabetizadas,Homens,Branca,15 a 19 anos,Roraima
4,64688,2022,Alfabetizadas,Homens,Branca,15 a 19 anos,Pará
...,...,...,...,...,...,...,...
3235,341,2022,Não alfabetizadas,Mulheres,Indígena,55 a 64 anos,Rio Grande do Sul
3236,844,2022,Não alfabetizadas,Mulheres,Indígena,55 a 64 anos,Mato Grosso do Sul
3237,399,2022,Não alfabetizadas,Mulheres,Indígena,55 a 64 anos,Mato Grosso
3238,101,2022,Não alfabetizadas,Mulheres,Indígena,55 a 64 anos,Goiás
3239,21,2022,Não alfabetizadas,Mulheres,Indígena,55 a 64 anos,Distrito Federal