Sample
* A subset from a larger population

Population
* The larger data set or idea of a data set

N (n)
* The size of the population (sample)

Random Sampling
* Drawing elements into a sample at random

Stratified Sampling
* Dividing the population into a strata and randomly sampling from each strata.

Stratum
* A homonegeneous subgroup of a population with common characteristics

Simple random sample
* The sample that results from random sampling without stratification

Bias
* Systematic error in the sample

Sample Bias
* A sample that misrepresents the population.

Sample mean
* the symbol $$(\bar{x})$$ is the sample mean, whereas the population mean is $$(\mu)$$

Selection Bias
* Selectively choosing the data that supports a hypothesis.

Data snooping
* Bias resulting from the way in which observations are selected.

Vast search effect
* Bias resulting from repeated data modeling, or modeling data with large numbers of predictor variables.

Regression to the Mean
* Phenomenon involving successive measurements on a given variable, extreme observations tend to be followed by more central ones.
* For example; if a student scores 100% on a test, they are likely to score lower on the next test.

Sample statistic
* A metric calculated for a sample of data drawn from a larger population. The distribution is likely to be more regular and bell-shaped than the distribution of the data itself.

Data Distribution
* The frequency distribution of individual values in a data set.

Sampling Distribution
* The frequency distribution of a sample statistic over many samples.

Central limit theorem
* The tendency of the sampling distribution to take on a normal shape as the size rises.

Standard error
* The variability or standard deviation of sample statistic over many sample samples.

In [35]:
import pandas as pd
import numpy as np

In [36]:
sample = pd.read_csv('/home/satire/PycharmProjects/Statistics/csv/Top 100 tiktokers in 2025.csv', delimiter=',', encoding='latin1')
sample

    Rank           Username  Followers  Following  Uploads        Likes
0      1       Khabane lame  162400000         78     1251   2500000000
1      2    charli d'amelio  155700000       1304     2812  11800000000
2      3            MrBeast  107500000        362      394   1100000000
3      4       Bella Poarch   94300000        649      771   2400000000
4      5        Addison Rae   88500000          1      318   5200000000
..   ...                ...        ...        ...      ...          ...
95    96    Arnaldo Mangini   32300000        105     2052    251800000
96    97           Fujiiian   32300000        464     1571   1900000000
97    98        Surthycooks   32300000        176     1242    918400000
98    99     Faisal shaikh     3200000          0      456   2000000000
99   100  ignacia Antonia??   31700000        269     1409   2500000000

[100 rows x 6 columns]

In [37]:
sample.columns

Index(['Rank', 'Username', 'Followers', 'Following', 'Uploads', 'Likes'], dtype='object')

In [38]:
sample.isna().sum()

Rank         0
Username     0
Followers    0
Following    0
Uploads      0
Likes        0
dtype: int64

In [39]:
sample_mean_05 = pd.DataFrame({
    'Followers': [sample['Followers'].sample(5).mean() for i in range(100)],
    'Type': ['Data'] * 100
})

In [41]:
sample_mean_05

      Followers  Type
0    45380000.0  Data
1    38600000.0  Data
2    49260000.0  Data
3    64540000.0  Data
4    39240000.0  Data
..          ...   ...
95   51600000.0  Data
96   48760000.0  Data
97   47940000.0  Data
98  160200000.0  Data
99   74400000.0  Data

[100 rows x 2 columns]